body {
  font-family: sans-serif;
}

h1 {
  cursor: pointer;
  font-size: 60px;
  text-align: center;
  padding: 20% 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}